html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.settings,
.open-close-list {
  cursor: pointer;
  transition: scale 0.22s ease-in-out;
}

.settings:hover,
.open-close-list:hover {
  scale: 1.1;
}

.slider-checkbox-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.slider-checkbox {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.slider-checkbox input[type='checkbox'] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3369f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: url('./assets/cross.svg');
  height: 22px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  color: #3369f3;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #10c000;
}

input:checked + .slider:before {
  content: url('./assets/checkmark.svg');
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider:before {
  border-radius: 50px;
  line-height: 25px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
