html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.settings,
.open-close-list,
.box-remove,
.note-remove {
  cursor: pointer;
  transition: scale 0.22s ease-in-out;
}

.settings:hover,
.open-close-list:hover,
.box-remove:hover {
  scale: 1.1;
}

.news {
  height: 20px;
  width: 100%;
}

.news p {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-top: 52px;
  animation: text 12s infinite linear;
  padding-left: 100%;
  white-space: nowrap;
}

.slider-checkbox-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.slider-checkbox {
  position: relative;
  display: inline-news;
  width: 50px;
  height: 30px;
}

.slider-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3369f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: url('./assets/images/cross.svg');
  height: 22px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  color: #3369f3;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
  line-height: 25px;
}

input:checked + .slider {
  background-color: #10c000;
}

input:checked + .slider:before {
  content: url('./assets/images/checkmark.svg');
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  height: 0px;
}

@keyframes text {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-400%, 0);
  }
}
